script(src="../bower_components/jquery/dist/jquery.min.js")
script(src="js/main.js")
script(src="js/singlepagenav.jquery.js")
script(src="../bower_components/bootstrap/dist/js/bootstrap.min.js")
script(src="../bower_components/jquery.validate/dist/jquery.validate.min.js")